a{
    text-decoration: none;
}
.cardShow{
    display: grid;
}
.imageShow{
    display: block;
}
.cardHidden{
    display: none;
}
.mainCard{
    position: relative;
    width: 95%;
    margin:1rem 0;
    border-radius: 10px;
}


.lightShadow{
    box-shadow: 5px 5px 10px 1px #c5c5c5;
    border: 1px solid #cccaca;
}
.lightShadow:hover{
    border: 1px solid #cccaca;
    box-shadow: 5px 5px 10px 1px #91bdffb6;
}
.darkShadow{
    border: 1px solid #151515;
    box-shadow: 5px 5px 10px 1px #535353;
}
.darkShadow:hover{
    border: 1px solid #151515;
    box-shadow: 5px 5px 10px 1px #91bdffb6;
    /* transform: scale(1.3); */
}
.mainCard img{
    width: 100%;
    aspect-ratio: 2/1.5;
    border-radius: 10px 10px 0 0;
} 
.mainCard section .titulos{
    margin:0 .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainCard section .plataformas {
    display:flex;
    flex-flow: wrap;
    margin-bottom: 1rem;
}
.mainCard section .plataformas p {
    font-weight: bold;
    font-size: .7rem;
    margin: .5rem .5rem 0;
    padding: 5px 7px;
    border-radius: 10px;
}
.mainCard section .darkAccent p {
    background-color: #78D8F0;
}
.mainCard section .lightAccent p {
    background-color: #41CDF0;
}
.cardSpinner{
    place-content: center;
    height: 10rem;
}