.filtersContainer{
    width: 90%;
    margin: 1rem auto 2rem;
    border: 1px solid #cccaca; 
    border-radius: 10px;
}
.tituloFilter{
    font-family: 'Montserrat Alternates', cursive;
    font-weight: bold;
    font-size: 1.3rem;
}
.filtersContainer .filterTitulo{
    display: flex;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border:none;
}
.filtersContainer .filterTitulo:hover{
    cursor: pointer;
}
.filterGenerals{
    flex-direction: column;
}
.showing{
    display: flex;
}
.hidden{
    display: none;
}
.filterGenerals .filterSection{
    display: flex;
    flex-direction: column;
}
.filterGenerals .filteSection .filter{
    font-family: 'Montserrat Alternates', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: .3rem .5rem;
}
.filterGenerals .filterButton{
    font-family: 'Montserrat Alternates', cursive;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    font-weight: bold   ;
    border: none;
    border:1px solid #cccaca;
    border-radius: 10px;
    margin:1.3rem auto;
    width: fit-content;
}
.filterGenerals button:hover{
    background-color: #acacac;
    cursor: pointer;
}
.filter select{
    font-family: 'Montserrat Alternates', cursive;
    padding: .3rem;
}

@media screen and (min-width:600px) {
    .filterGenerals .filterSection{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}