.landingBack{
    /* background-image: url(../../images/slanted-gradient.svg); */
    background-image: url(../../images/low-poly-grid-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #262A31;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.showLanding{
  display: block;
}
.hideLanding{
  display: none;
}
.landingBack img{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    /* opacity: 90%; */
}
.landingBack .texto{
    z-index: 50;
}
.landingBack .texto h1{

    color: white;
    font-size: 3rem;
    font-family: 'Bungee', cursive;
    filter: drop-shadow(5px 5px 10px #000);

}

.blink-1 {
    width: fit-content;
    margin: 2rem auto;
    -webkit-animation: blink-1 3s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite ;
            animation: blink-1 3s cubic-bezier(0.470, 0.000, 0.745, 0.715) infinite ;
}
.landingBack .blink-1 button:hover{
    cursor: pointer;
}
.landingBack .blink-1 button{
    border: none;
    width: fit-content;
    background-color: transparent;
    color: aqua;
    filter: drop-shadow(5px 5px 10px #000);
    font-size: 1.3rem;
    font-family: 'Press Start 2P', cursive;
}
@media screen and (min-width:600px) {
  .landingBack img{
    width: 200vw;
  }
}
@media screen and (min-width:900px) {
  .landingBack .texto h1{
    font-size: 5rem;
  }

}
@-webkit-keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  
  .slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 @-webkit-keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(50%);
            transform: translateZ(50%);
  }
}
@keyframes slide-fwd-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  100% {
    -webkit-transform: translateZ(50%);
            transform: translateZ(50%);
  }
}
