.mainDetails{
    display: flex;
    flex-direction: column;
    border-radius:10px;
    padding:0 0 2rem 0;
}
.gameLight{
    box-shadow: 5px 5px 10px 1px #c5c5c5;
    border: 1px solid #cccaca;
}

.gameDark{
    border: 1px solid #151515;
    box-shadow: 5px 5px 10px 1px #0e0e0e;
}

.mainDetails .imageYTitle h2{
    color: #3FCAF1;
}

.mainDetails .imageYTitle .images img{
    /* width: 20rem; */
    border-radius: 10px;
}

.detailYweb{
    margin: 0 1rem;
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
}
.secondaryDetails{
    margin-top: 2rem;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    gap: 1rem;
}
h6{
    font-size: 1.2rem;
    margin: 1rem 0;
    color:#F359C9
}

.mindetails{
    /* margin: 1rem auto; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
}
.rating, .released{
    align-items: center;
}
/* #F359C9 */

@media screen and (min-width:550px) {
    .secondaryDetails{
        display: grid;
        grid-template-columns: repeat(2, 1fr );
    }
}
@media screen and (min-width:800px) {
    .mainDetails{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .secondaryDetails{
        margin-top: 2rem;
        padding: 0 .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}